<h4>Ingreso o registro</h4>
<form
  [formGroup]="formLoginUser"
  (ngSubmit)="onSubmit()"
  class="aa-login-form"
  action=""
>
  <label for="">Nombre de usuario<span>*</span></label>
  <input
    type="text"
    placeholder="Username"
    formControlName="userNameL"
    [(ngModel)]="loginUser.userName"
  />
  <label for="">Contraseña<span>*</span></label>
  <input
    type="password"
    placeholder="Password"
    formControlName="passwordL"
    [(ngModel)]="loginUser.password"
  />
  <button
    class="aa-browse-btn"
    type="submit"
    (click)="onSubmit()"
    [attr.data-dismiss]="'modal'"
  >
    Ingresar
  </button>
  <label for="rememberme" class="rememberme"
    ><input type="checkbox" id="rememberme" /> Recuerdame
  </label>
  <p class="aa-lost-password">
    <a href="#">Perdiste tu contraseña?</a>
  </p>
  <div class="aa-register-now">
    No tiene una cuenta?<a routerLink="/signup" data-dismiss="modal"
      >Registrate ahora</a
    >
  </div>
</form>
