<!-- Home -->
<!-- / menu -->

<!-- Start Promo section -->
<div id="enrollmet" class="filter">
  <section id="aa-promo" *ngIf="!this.logged">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-promo-area">
            <div class="row">
              <!-- promo left -->
              <div class="col-md-5 no-padding">
                <div class="aa-promo-left">
                  <div class="aa-promo-banner">
                    <img
                      src="../assets/img/enrollment/matriculate-aqui-banner.webp"
                      alt="img"
                    />
                    <div class="aa-prom-content">
                      <!-- <span>75% Off</span>
                      <h4><a href="#">For Women</a></h4> -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- promo right -->
              <div class="col-md-7 no-padding">
                <div
                  class="aa-promo-right"
                  style="max-width: 80%; padding-left: 20%"
                >
                  <app-sign-in></app-sign-in>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Promo section -->

  <!-- Subscribe section -->

  <section id="aa-subscribe" *ngIf="this.logged">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-subscribe-area">
            <h3>Buscar Materia por su NRC</h3>

            <form
              [formGroup]="formSearch"
              class="aa-subscribe-form"
              (ngSubmit)="onSubmit()"
              action=""
            >
              <input
                type="email"
                name=""
                id=""
                placeholder="NRC"
                [(ngModel)]="this.search"
                formControlName="search"
              />
              <input type="submit" value="BUSCAR" (click)="onSubmit()" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Subscribe section -->

  <div class="container" *ngIf="this.logged">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">NRC</th>
          <th scope="col">Cupos</th>
          <th scope="col">Materia</th>
          <th scope="col">Docente</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of this.subjectsNrcView">
          <th scope="row">{{ item.nrc }}</th>
          <td>{{ item.quotas }}</td>
          <td>{{ item.subject.name }}</td>
          <td>
            {{
              item.teacher.name.toString() +
                " " +
                item.teacher.lastName.toString()
            }}
          </td>
          <td>
            <button
              type="button"
              class="btn btn-success"
              (click)="onSubmit(item.id)"
            >
              Success
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="schedulle" class="filter">
  <section id="aa-subscribe" *ngIf="this.logged">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-subscribe-area">
            <h3>Horario</h3>
          </div>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nivel</th>
                <th scope="col">Tipo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Celular</th>
                <th scope="col">Cédula</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <ng-container *ngIf="this.student?.id">
                    {{ "L00" + (100000 + this.student?.id) }}
                  </ng-container>
                </th>
                <td>{{ this.student?.level }}</td>
                <td>{{ this.student?.type }}</td>
                <td>
                  <ng-container
                    *ngIf="this.student?.name && this.student?.name"
                  >
                    {{
                      this.student?.name?.toString() +
                        " " +
                        this.student?.name?.toString()
                    }}
                  </ng-container>
                </td>
                <td>{{ this.student?.phone }}</td>
                <td>{{ this.student?.targetId }}</td>
              </tr>
            </tbody>
          </table>
          <!-- End Home -->
        </div>
      </div>
    </div>
  </section>
</div>
