<!-- Home -->
<!-- / menu -->

<!-- Start Promo section -->
<div id="enrollmet" class="filter">
  <section id="aa-promo" *ngIf="!this.logged">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-promo-area">
            <div class="row">
              <!-- promo left -->
              <div class="col-md-5 no-padding">
                <div class="aa-promo-left">
                  <div class="aa-promo-banner">
                    <img
                      src="../assets/img/enrollment/matriculate-aqui-banner.webp"
                      alt="img"
                    />
                    <div class="aa-prom-content">
                      <!-- <span>75% Off</span>
                      <h4><a href="#">For Women</a></h4> -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- promo right -->
              <div class="col-md-7 no-padding">
                <div
                  class="aa-promo-right"
                  style="max-width: 80%; padding-left: 20%"
                >
                  <app-sign-in></app-sign-in>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Promo section -->

  <!-- Search section -->

  <section id="aa-subscribe" *ngIf="this.logged">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-subscribe-area">
            <h3>Buscar Materia por su NRC</h3>

            <form
              [formGroup]="formSearch"
              class="aa-subscribe-form"
              (ngSubmit)="onSearch()"
              action=""
            >
              <input
                type="email"
                name=""
                id=""
                placeholder="NRC"
                [(ngModel)]="this.search"
                formControlName="search"
              />
              <input type="submit" value="BUSCAR" (click)="onSearch()" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / End Search section -->
  <!-- / Subscription section -->
  <div class="container" *ngIf="this.logged">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">NRC</th>
          <th scope="col">Cupos</th>
          <th scope="col">Materia</th>
          <th scope="col">Docente</th>
          <th scope="col">Matricularme</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of this.subjectsNrcView">
          <th scope="row">{{ item.nrc }}</th>
          <td>{{ item.quotas }}</td>
          <td>{{ item.subject.name }}</td>
          <td>
            {{
              item.teacher.name.toString() +
                " " +
                item.teacher.lastName.toString()
            }}
          </td>
          <td>
            <button
              type="button"
              class="btn btn-success"
              (click)="onCreateEnrollment(item.id)"
            >
              Aceptar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /End Subscription section -->
</div>

<div id="schedulle" class="filter">
  <section id="aa-subscribe" *ngIf="this.logged">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-subscribe-area">
            <h3>DATOS</h3>
          </div>
          <!-- My Student -->
          <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nivel</th>
                <th scope="col">Tipo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Celular</th>
                <th scope="col">Cédula</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <ng-container *ngIf="this.student?.id">
                    {{ "L00" + (100000 + this.student?.id) }}
                  </ng-container>
                </th>
                <td>{{ this.student?.level }}</td>
                <td>{{ this.student?.type }}</td>
                <td>
                  <ng-container
                    *ngIf="this.student?.name && this.student?.name"
                  >
                    {{
                      this.student?.name?.toString() +
                        " " +
                        this.student?.name?.toString()
                    }}
                  </ng-container>
                </td>
                <td>{{ this.student?.phone }}</td>
                <td>{{ this.student?.targetId }}</td>
              </tr>
            </tbody>
          </table>
          <!-- Fin my student -->
          <div class="aa-subscribe-area">
            <h3>Horario</h3>
          </div>
          <!-- My Enrollments -->
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nrc</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo</th>
                <th scope="col">Evaluación</th>
                <th scope="col">Horario</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of this.enrollments">
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.subjectNrc.nrc }}</td>
                <td>{{ item.subjectNrc.subject.name }}</td>
                <td>
                  {{
                    item.type?.toString() + "-" + item.price?.toString() + "$"
                  }}
                </td>
                <td>{{ item.evaluation }}</td>
                <!-- Schedulles -->
                <td>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Día</th>
                        <th scope="col">Comienza</th>
                        <th scope="col">Termina</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let itemSchedulle of item.subjectNrc.shceduller;
                          let i = index
                        "
                      >
                        <th scope="row">{{ i }}</th>
                        <td>{{ itemSchedulle.day }}</td>
                        <td>
                          {{ itemSchedulle.startTime | date: "shortTime" }}
                        </td>
                        <td>{{ itemSchedulle.entTime | date: "shortTime" }}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <!-- End Schedulles -->
                <td>
                  <button
                    type="button"
                    class="btn btn-success"
                    (click)="onDeleteEnrollment(item.id)"
                  >
                    Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- End my Enrollments -->
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Fin my Home -->
